@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
body {
  font-family: 'Spoqa Han Sans', 'Helvetica', 'Sans-serif';
}
.icon-centered {
  display: block;
  margin: 0 auto;
}
.thumbnail {
  margin-bottom:1px;
}
.thumbnail.profile {
  margin-bottom:10px;
}
.callout {
  margin-left: 30px;
  margin-right: 30px;
}

.link {
  font-size:15px;
  font-weight: 600;
}

#my-info {
  background-color : transparent;
}

#title {
  margin: 20px;
  margin-top:0px;
}

#last {
  margin-bottom: 20px;
}