//-
  Created by Yangwook Ryoo on 2/16/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
extends errorbase.pug
block title
  title 404 Not Found!
  link(rel="stylesheet", href="../css/404500.css")
block content
  div.whiteblock
  div.callout.warning
    div.row.column
      h1 Something goes wrong :(
      p.lead 페이지를 찾지 못했습니다. URL를 확인해 주세요.
