//-
  Created by Yangwook Ryoo on 2/16/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
extends base.jade
block title
  title 500 Internal Error!
  link(rel="stylesheet", href="../css/404500.css")
block content
  div.whiteblock
  div.callout.alert
    div.row.column
      h1 Something goes wrong :(
      p.lead 서버가 불안정합니다. 나중에 시도해주세요.
