//-
  Created by Yangwook Ryoo on 2/15/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
block content
  br
  div.callout.success
    div.media-object
      div.media-object-section.middle
        div.thumbnail
          img.white(src="../image/at.png")
      div.media-object-section
        h4 E-mail
        a(href="mailto:yangwook@ryoo.kr")
          p.email yangwook<i class="fa fa-at"></i>ryoo.kr
        a(href="mailto:ywryoo@korea.ac.kr")
          p.email ywryoo<i class="fa fa-at"></i>korea.ac.kr
        a(href="mailto:ywryoo@gmail.com")
          p.email ywryoo<i class="fa fa-at"></i>gmail.com
  div.callout.success
    div.media-object
      div.media-object-section.middle
        a(href="http://www.kakao.com/talk/ko" target="_blank")
          div.thumbnail
            img.white(src="../image/kakao.png")
      div.media-object-section
        h4 카카오톡
        p ID: ywryoo
  div.callout.alert
    div.media-object
      div.media-object-section.middle
        a(href="http://skype.com" target="_blank")
          div.thumbnail
            img.white(src="../image/skype.png")
      div.media-object-section
        h4 Skype
        p ID: ywryoo
  div.callout.alert
    div.media-object
      div.media-object-section.middle
        a(href="http://facebook.com" target="_blank")
          div.thumbnail
            img.white(src="../image/fb.png")
      div.media-object-section
        h4 Facebook
        p Ask me ;)
  div.callout.alert
    div.media-object
      div.media-object-section.middle
        div.thumbnail
          img.white(src="../image/mobile.png")
      div.media-object-section
        h4 Mobile
        p Ask me ;)
