//-
  Created by Yangwook Ryoo on 2/15/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
block content
  br
  div.row.small-up-2.medium-up-3.large-up-4
    div.column
      div.overlay-container
        img.thumbnail(src="../image/koreauniv.png")
        div.overlay
          a(href="http://cic.korea.ac.kr", target="_blank")
            h4.info.text-center 컴퓨터학과
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/step.png")
        div.overlay
          a(href="https://soft.korea.ac.kr", target="_blank")
            h4.info.text-center 소프트웨어 융합전공
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/geni.png")
        div.overlay
          a(href="http://geninetworks.com", target="_blank")
            h4.info.text-center 인턴쉽
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/sucseed.png")
        div.overlay
          h4.info.text-center 개발자
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/ffb.png")
        div.overlay
          a(href="http://thefunfunny.com/", target="_blank")
            h4.info.text-center 개발자
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/insiders.png")
        div.overlay
          a(href="http://insiders.co.kr", target="_blank")
            h4.info.text-center 7, 8기 수료
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/kweb.png")
        div.overlay
          a(href="http://kweb.korea.ac.kr/", target="_blank")
            h4.info.text-center 동아리원
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/kuics.png")
        div.overlay
          a(href="http://kuics.korea.ac.kr/", target="_blank")
            h4.info.text-center 동아리원
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/catdog.png")
        div.overlay
          a(href="http://catdog.korea.ac.kr/", target="_blank")
            h4.info.text-center 동아리원
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/apple.png")
        div.overlay
          a(href="http://apple.com", target="_blank")
            h4.info.text-center Apple Guru
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/node.png")
        div.overlay
          a(href="https://nodejs.org", target="_blank")
            h4.info.text-center Serverside Javascript Developer
          a.close-overlay.hidden x
    div.column
      div.overlay-container
        img.thumbnail(src="../image/music.png")
        div.overlay
          a(href="http://www.last.fm/user/ywryoo", target="_blank")
            h4.info.text-center Heavy Listener
          a.close-overlay.hidden x
