doctype html
html(class="no-js", lang="kr")
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  link(rel="stylesheet", href="./css/index.css")
  link(rel="stylesheet", href="./css/foundation.min.css")
body
  div.off-canvas-wrapper
    div.off-canvas-wrapper-inner(data-off-canvas-wrapper)
      div.off-canvas.position-left.reveal-for-large(id="my-info", data-off-canvas, data-position="left")
        div.row.column
          br
          a(href="/kr")
            img.thumbnail(src="./image/profile.png")
          h4.text-center 유양욱
          p 더 높은 곳을 향해, 최고를 위해.
          div.column
            a.expanded.button(href="#")
              h6 소개
          div.column
            a.expanded.button(href="#")
              h6 연혁
          div.column
            a.expanded.button(href="#")
              h6 프로젝트
          div.column
            a.expanded.button(href="#")
              h6 연락처

      div.off-canvas-content(data-off-canvas-content)
        div.title-bar.hide-for-large
          div.title-bar-left
            button.menu-icon(type="button" data-open="my-info")
            span.title-bar-title 유양욱
        br
        div.row.small-up-2.medium-up-3.large-up-4
          div.column
            div.overlay-container
              img.thumbnail(src="./image/koreauniv.png")
              div.overlay
                a(href="http://cic.korea.ac.kr", target="_blank")
                  h4.info.text-center 컴퓨터과학
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/step.png")
              div.overlay
                a(href="https://soft.korea.ac.kr", target="_blank")
                  h4.info.text-center STEP융합전공
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/geni.png")
              div.overlay
                a(href="http://geninetworks.com", target="_blank")
                  h4.info.text-center 인턴쉽
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/sucseed.png")
              div.overlay
                a(href="http://sucseed.me", target="_blank")
                  h4.info.text-center 개발자
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/insiders.png")
              div.overlay
                a(href="http://insiders.co.kr", target="_blank")
                  h4.info.text-center 7, 8기 수료
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/kweb.png")
              div.overlay
                a(href="http://kweb.korea.ac.kr/", target="_blank")
                  h4.info.text-center 전 회원
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/kuics.png")
              div.overlay
                a(href="http://kuics.korea.ac.kr/", target="_blank")
                  h4.info.text-center 전 회원
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/catdog.png")
              div.overlay
                a(href="http://catdog.korea.ac.kr/", target="_blank")
                  h4.info.text-center 전 회원
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/apple.png")
              div.overlay
                a(href="http://apple.com", target="_blank")
                  h4.info.text-center Apple Addicted
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/node.png")
              div.overlay
                a(href="https://nodejs.org", target="_blank")
                  h4.info.text-center Node User
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/linux.png")
              div.overlay
                a(href="https://www.linux.com/", target="_blank")
                  h4.info.text-center Linux User
                a.close-overlay.hidden x
          div.column
            div.overlay-container
              img.thumbnail(src="./image/music.png")
              div.overlay
                a(href="http://www.last.fm/user/ywryoo", target="_blank")
                  h4.info.text-center Heavy Listener
                a.close-overlay.hidden x
        hr
        div.row
          div.medium-6.columns
            div.row
              div.small-4.columns
                a(href="http://ryoo.kr/")
                  img.icon-centered(src='./image/blog.png')
              div.small-4.columns
                a(href="https://github.com/ywryoo")
                  img.icon-centered(src='./image/github.png')
              div.small-4.columns
                a(href="https://linkedin.com/in/yangwook-ryoo-704b22a6")
                  img.icon-centered(src='./image/linkedin.png')
          div#last.medium-6.columns
            br
            p &copy; Yangwook Ryoo, 2016
  script(src="./js/jquery.min.js")
  script(src="./js/foundation.min.js")
  script(src="./js/foundation.util.mediaQuery.js")
  script(src="./js/modernizr-custom.js")
  script(src="./js/portfolio.js")
