//-
  Created by Yangwook Ryoo on 2/15/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
block content
  div.row.columns.small-12
    div.columns.small-12.medium-9.large-8.large-offset-1#sections
      br
      div#whoami(data-magellan-target="whoami")
        h3 유양욱
        p Passionate learner
        br
      div#experience(data-magellan-target="experience")
        h4 경력
        hr.shortMargin
        h5 Funfunny Brothers 개발자
        p.datecolor 2016.5 -
        p 안드로이드 VR 웹툰 앱, 서버 및 웹사이트 개발, 인프라 구축
        br
        h5 Sucseed 개발자
        p.datecolor 2015.5 - 2016.5
        p IoT 개발 및 웹 콘솔 개발, 인프라 구축
        br
        h5 GeniNetworks 인턴
        p.datecolor 2015.12 - 2016.2
        p 업무 보조 및 가이드 작성
        br
      div#skill(data-magellan-target="skill")
        h4 기술
        hr.shortMargin
        h5 프론트엔드
        p React
        p Android + OpenGL ES
        p Bootstrap
        br
        h5 백엔드
        p Flask
        p Express
        p Google App Engine 및 Google Cloud Platform
        br
        h5 기타
        p Project Management
        p Development Operating
        p 초기 비즈니스 셋업
        br
      div#education(data-magellan-target="education")
        h4 학력
        hr.shortMargin
        h5 고려대학교
        h6 정보대학 컴퓨터학과
        p.datecolor 2013-
        h6 소프트웨어 융합전공
        p.datecolor 2015-
        p 전체 학점: 3.98/4.5, 전공 학점: 4.18/4.5
        br
      div#specialty(data-magellan-target="specialty")
        h4 특기
        hr.shortMargin
        h5 특허
        p 특허 출원 진행 및 번역
        br
        h5 영어
        p 영국, 미국에서 근무 경험
        br
    div.columns.hide-for-small-only.medium-3.right(data-sticky-container)
      nav.columns.sticky#sticky(data-anchor="sections")
        br
        ul.menu.vertical#magellan
          li.menutitle &nbsp;&nbsp;&nbsp;Navigator
          li
            a(href="#whoami") 소개
          li
            a(href="#experience") 경력
          li
            a(href="#skill") 기술
          li
            a(href="#education") 학력
          li
            a(href="#specialty") 특기
