//-
  Created by Yangwook Ryoo on 2/15/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
block content
  div.row.columns.small-12
    div.columns.small-12.medium-9.large-8.large-offset-1#sections
      br
      div#whoami(data-magellan-target="whoami")
        h3 유양욱
        p Passionate learner
        br
      div#experience(data-magellan-target="experience")
        h4 경력
        hr.shortMargin
        h5 Sucseed 개발자
        p.datecolor 2015.5 -
        p -
        h5 GeniNetworks 인턴
        p.datecolor 2015.12 - 2016.2
        p -
        br
      div#skill(data-magellan-target="skill")
        h4 기술
        hr.shortMargin
        h5 프론트엔드
        p React
        p jQuery
        p Bootstrap
        h5 백엔드
        p Flask
        p Node
        p PHP
        h5 프로젝트 관리
        p 개발 방법론
        p 아이템 기획/추진
        p 협업 도구
        br
      div#education(data-magellan-target="education")
        h4 학력
        hr.shortMargin
        h5 고려대학교
        h6 정보대학 컴퓨터학과
        p.datecolor 2013-
        h6 소프트웨어 융합전공
        p.datecolor 2015-
        p -
        h6 신목고등학교
        p -
        br
      div#specialty(data-magellan-target="specialty")
        h4 특기
        hr.shortMargin
        h5 특허 번역
        p -
        h5 영어
        p -
        br
    div.columns.hide-for-small-only.medium-3.right(data-sticky-container)
      nav.columns.sticky#sticky(data-anchor="sections")
        br
        ul.menu.vertical#magellan
          li.menutitle &nbsp;&nbsp;&nbsp;Navigator
          li
            a(href="#whoami") 소개
          li
            a(href="#experience") 경력
          li
            a(href="#skill") 기술
          li
            a(href="#education") 학력
          li
            a(href="#specialty") 특기