//-
  Created by Yangwook Ryoo on 2/15/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
block content
  br
  section#cd-timeline.cd-container
    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-plane.white
      div.cd-timeline-content
        h2  유럽 여행
        p 프랑스 파리, 스위스 및 이탈리아 로마 방문
        span.cd-date 2016.11

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-plane.white
      div.cd-timeline-content
        h2 중국 여행
        p TechCrunch Shanghai 2016 및 MWC Shanghai 2016 참관
        span.cd-date 2016.6

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-briefcase.white
      div.cd-timeline-content
        h2 Funfunny Brothers 개발자
        p Google Cardboard SDK를 활용한 Android App 및 서버, 웹사이트 개발
        p 업무 환경 구축 및 프로젝트 관리, 특허 신청
        span.cd-date 2016-

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-briefcase.white
      div.cd-timeline-content
        h2 GeniNetworks 인턴
        p 제품 검수 및 연수
        p Boston, US에서 가이드 작성 및 업무 보조
        span.cd-date 2015.12-2016.2

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-plane.white
      div.cd-timeline-content
        h2 영국 여행
        p Edinburgh, London, York, Sheffield
        span.cd-date 2015.11

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-briefcase.white
      div.cd-timeline-content
        h2 Sucseed 개발자
        p IoT Device 및 웹 콘솔 개발
        p Rotheram, UK에서 엑셀러레이팅 프로그램 수료
        span.cd-date 2015.5-2016.5

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-plane.white
      div.cd-timeline-content
        h2 뉴욕 연수
        p Stony Brook &amp; New York City
        span.cd-date 2015.6

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-star.white
      div.cd-timeline-content
        h2 소프트웨어 융합 전공
        p Software Technology and Enterprise Program
        span.cd-date 2015-

    div.cd-timeline-block
      div.cd-timeline-img.cd-warning
        i.fa.fa-cubes.white
      div.cd-timeline-content
        h2 Insiders
        p 창업 동아리, 7,8기 수료
        span.cd-date 2014-2015

    div.cd-timeline-block
      div.cd-timeline-img.cd-warning
        i.fa.fa-cubes.white
      div.cd-timeline-content
        h2 동아리 활동
        p 보안 동아리 KUICS
        p 웹 개발 동아리 KWEB
        p 게임 개발 동아리 CatDog
        span.cd-date 2013-2014

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-university.white
      div.cd-timeline-content
        h2 대학교 진학
        p 고려대학교
        p 컴퓨터학과, 정보대학
        span.cd-date 2013-

    div.cd-timeline-block
      div.cd-timeline-img.cd-warning
        i.fa.fa-cubes.white
      div.cd-timeline-content
        h2 동아리 활동
        p 과학 실험 및 과학 실험 축제 진행
        span.cd-date 2010-2011

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-trophy.white
      div.cd-timeline-content
        h2 물리 올림피아드
        p 중등부, 금상
        span.cd-date 2009

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-book.white
      div.cd-timeline-content
        h2 영재원
        p 정보 영재원 2년 수료
        p 과학 영재원 1년 수료
        span.cd-date 2006-2008

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-trophy.white
      div.cd-timeline-content
        h2 과학경진대회
        p 글라이더, 화약로켓 등 경진대회 다수 입상
        span.cd-date 2004-2005

    div.cd-timeline-block
      div.cd-timeline-img.cd-alert
        i.fa.fa-birthday-cake.white
