//-
  Created by Yangwook Ryoo on 2/15/16.

  This source code is licensed under the MIT license found in the
  LICENSE file in the root directory of this source tree.
block content
  br
  section#cd-timeline.cd-container
    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-briefcase.white
      div.cd-timeline-content
        h2 GeniNetworks
        p 인턴
        span.cd-date 2015-2016

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-briefcase.white
      div.cd-timeline-content
        h2 Sucseed
        p 개발자
        span.cd-date 2015-

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-star.white
      div.cd-timeline-content
        h2 소프트웨어 융합 전공
        p STEP - Software Technology and Enterprise Program
        span.cd-date 2015-

    div.cd-timeline-block
      div.cd-timeline-img.cd-warning
        i.fa.fa-cubes.white
      div.cd-timeline-content
        h2 창업 동아리
        p Insiders 7,8기 수료
        span.cd-date 2014-2015

    div.cd-timeline-block
      div.cd-timeline-img.cd-warning
        i.fa.fa-cubes.white
      div.cd-timeline-content
        h2 과 동아리
        p 보안 동아리 KUICS
        p 웹 개발 동아리 KWEB
        p 게임 개발 동아리 CatDog
        span.cd-date 2013-2014

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-university.white
      div.cd-timeline-content
        h2 대학교 입학
        p 고려대학교
        p 컴퓨터학과, 정보대학
        span.cd-date 2013

    div.cd-timeline-block
      div.cd-timeline-img.cd-warning
        i.fa.fa-cubes.white
      div.cd-timeline-content
        h2 동아리
        p 과학부
        span.cd-date 2010-2011

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-trophy.white
      div.cd-timeline-content
        h2 물리 올림피아드
        p 중등부, 금상
        span.cd-date 2009

    div.cd-timeline-block
      div.cd-timeline-img.cd-success
        i.fa.fa-book.white
      div.cd-timeline-content
        h2 영재원
        p 정보 영재원 2년 수료
        p 과학 영재원 1년 수료
        span.cd-date 2006-2008

    div.cd-timeline-block
      div.cd-timeline-img.cd-primary
        i.fa.fa-trophy.white
      div.cd-timeline-content
        h2 과학경진대회
        p 글라이더, 화약로켓 등 경진대회 다수 입상
        span.cd-date 2004-2005

    div.cd-timeline-block
      div.cd-timeline-img.cd-alert
        i.fa.fa-birthday-cake.white